@model IEnumerable<Lms.MVC.Core.Entities.Module>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-deck">
    @foreach (var module in Model)
    {
        <div class="card">
            <a asp-controller="Modules" asp-action="details" asp-route-id="@module.Title">
                <h5 class="card-title">@module.Title</h5>
                <p class="card-body">@module.Description</p>
                <div class="card-footer text-muted">End Date: @module.EndDate</div>
            </a>
        </div>
    }
</div>

    