@model Lms.MVC.Core.Entities.Teacher

@{
    ViewData["Title"] = "Remove Teacher";
}

<h1>Remove teacher from course</h1>

<h3>Sure you want to do this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="RemoveTeacher">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="RemoveTeacher" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
